---
layout: default
title: Obory v Zemědělství
description: Novinky z oblasti  zemědělstí
keywords: aktuality, tiskové zprávy, press, blog
---


<div class="row">
  <div class="columns">
    <div class="o-section">
      <div class="o-section-inner">
          <header class="c-page-header">
            <h1 itemprop="headline" class="c-page-title">Aktuality z oborů</h1>
          </header>
          <div class="row">
            <div class="medium-8 columns">
              <table>
                <tr><td><a href="{{site.baseurl}}/obory/rostlinna"><img src="{{site.baseurl}}/assets/img/rostlinna.jpg"></a></td>
                  <td><a href="{{site.baseurl}}/obory/zivocisna"><img src="{{site.baseurl}}/assets/img/zivocisna.jpg"></a></td>
                  <td><a href="{{site.baseurl}}/obory/vcelarstvi"><img src="{{site.baseurl}}/assets/img/vcelarstvi.jpg"></a></td></tr>
                <tr><td><a href="{{site.baseurl}}/obory/vodohospodarstvi"><img src="{{site.baseurl}}/assets/img/vodohospodarstvi.jpg"></a></td>
                  <td><a href="{{site.baseurl}}/obory/lesnictvi"><img src="{{site.baseurl}}/assets/img/lesnictvi.jpg"></a></td>
                  <td><a href="{{site.baseurl}}/obory/zahradkarstvi"><img src="{{site.baseurl}}/assets/img/zahradkarstvi.jpg"></a></td></tr>
                <tr><td><a href="{{site.baseurl}}/obory/myslivost"><img src="{{site.baseurl}}/assets/img/myslivost.jpg"></a></td>
                  <td></td>
                  <td><a href="{{site.baseurl}}/obory/rybarstvi"><img src="{{site.baseurl}}/assets/img/rybarstvi.jpg"></a></td></tr>
              </table>  
          {% capture tags %}
            {% for tag in site.tags %}
              {{ tag[0] }}
            {% endfor %}
            {% for team in site.teams %}
              {{ team.tags }}
            {% endfor %}
          {% endcapture %}
          {% assign sortedtags = tags | split:' ' | uniq | sort %}

              {% for tag in sortedtags %}
              <h3 id="{{ tag }}">{{ tag }}</h3>
                <ul>
                {% for post in site.tags[tag] %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
                </ul>
              {% endfor %}
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
