---
---

<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="">

  {% include head.html %}

  <body>
  <link href="https://styleguide.pir-test.eu/2.3.x/css/styles.css" rel="stylesheet" media="all" />


    {% include header.html %}
    {% if site.data.menu.main %}
        {% include menu.html %}
        {% unless page.nosubmenu %}
            {% include submenu.html %}
        {% endunless %}
    {% endif %}
    {{ content }}

    {% include footer.html %}
    {% include js/main.html %}
  </body>

</html>
